@keyframes wriggle {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

.colored-header {
  background: #F94D4D;
  background: linear-gradient(to right, #F94D4D, #30E8BF, #5300FA);
  font-weight: 500;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.colored-header ~ #subtitle {
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}

#credits {
  color: #E5E7EB;
  text-align: center;
}
#credits > a {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  background: linear-gradient(to right, #30E8BF, #F94D4D);
  background-repeat: repeat-x;
  background-size: 100% .1em;
  background-position: 0 95%;
  transition: transform .3s ease-in-out;
}

#credits > a:hover {
  animation: wriggle .3s linear;
  background: linear-gradient(to right, #30E8BF, #F94D4D);
  background-position: 0 0;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#radios-label {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
#radio-group {
  color: rgba(255, 255, 255, 0.6);
}

.flex-container {
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: 2em;
  height: auto;
  margin: 2em;
  width: 100%;
}